{% extends "users/layout.html" %}
{% load static %}
{% block body %}
<h2>Syllabus Content</h2>
<a href="{% url 'textbook:syllabus_content_add' %}">Add Syllabus Content</a>
<table class="list-view">
    {% for content in contents %}
    <tr>
        <td>
            Term {{ content.term }} Week {{ content.week_number }} 
        </td>
        <td>    
            <a href="{% url 'textbook:syllabus_content_edit' week.id %}">Edit</a> 
        </td> 
        <td>            
            <a href="{% url 'textbook:syllabus_content_delete' week.id %}">Delete</a>
        </td>
    </tr>    
    {% endfor %}
</table>
<script>
    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const confirmed = confirm('Are you sure you want to delete this item?');
            if (confirmed) {
                fetch(this.getAttribute('data-href'), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '{% url 'textbook:syllabus_content_list' %}';
                    }
                });
            }
        });
    });
</script>
{% endblock %}