{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EduForge Dynamic Learning</title>
    <link rel="icon" sizes="32x32" href="{% static 'users/favicon_32.png' %}" type="image/png">
    <link rel="icon" sizes="16x16" href="{% static 'users/favicon_16.png' %}" type="image/png">
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'users/logo.jpg' %}" alt="Logo">
        </div>
        <!-- Only show user info and logout button if user is authenticated -->
        {% if user.is_authenticated %}
            <div class="user-info">
                <table class="right-aligned-table"><tr>
                <td>
                    <span>{{ user.username }}</span>
                </td></tr>
                <!-- Display schools list -->
                <tr><td>
                    {% if schools_list %}
                        <div class="schools">
                            {% for school in schools_list %}
                                <span>{{ school.school_name }}</span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                </tr></table>
            </div>
        {% endif %}
    </div>   
    <!-- Dynamic Menu -->
    {% if user.is_authenticated %}
        <ul class="menu">
            <li><a href="{% url 'users:index' %}">Home</a></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'users:school_user' %}">Admin</a></li>
            {% elif user.userprofile.user_type == 'school' %}
                <li><a href="{% url 'users:school_user' %}">Admin</a></li>
            {% elif user.userprofile.user_type == 'admin' %}
                <li><a href="{% url 'users:create_teacher' %}">Teachers</a></li>
                <li><a href="{% url 'users:teacher_classes' %}">Classes</a></li>
                <li><a href="{% url 'users:teacher_subjects' %}">Subjects</a></li>
            {% elif user.userprofile.user_type == 'teacher' %}
                <li><a href="{% url 'users:teacher_classes' %}">Classes</a></li>
                <li><a href="{% url 'users:teacher_subjects' %}">Subjects</a></li>
            {% elif user.userprofile.user_type == 'student' %}
                <li><a href="{% url 'users:student_subjects' %}">Subjects</a></li>
            {% endif %}
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        </ul>
    {% endif %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% block body %}
{% endblock %}
{% block javascript %}
{% endblock %}
</body>
</html>