{% extends "users/layout.html" %}
{% load static %}
{% block body %}
    {% if request.user.userprofile.user_type == 'school' %}
        <h1>Admin</h1>
        <h2>Year Management</h2>
        <td class="menu-link-cell"><a href="{% url 'textbook:test' %}">Test</a></td>
            <table class="list-view">
                <tr>
                    <td class="menu-label-cell">Terms</td>
                    <td class="menu-link-cell"><a href="{% url 'textbook:term_add' %}">Add</a></td>
                    <td class="menu-link-cell"><a href="{% url 'textbook:term_list' %}">Edit</a></td>
                </tr>
                <tr>
                    <td class="menu-label-cell">Weeks</td>
                    <td class="menu-link-cell"><a href="{% url 'textbook:week_add' %}">Add</a></td>
                    <td class="menu-link-cell"><a href="{% url 'textbook:week_list' %}">Edit</a></td>
                </tr>
            </table>
        <h2>Syllabus Management</h2>
            <table class="list-view">
            <tr>
                <td class="menu-label-cell">Topics</td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_topic_add' %}">Add</a></td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_topic_list' %}">Edit</a></td>
            </tr>
            <tr>
                <td class="menu-label-cell">Outcomes</td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_outcome_add' %}">Add</a></td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_outcome_list' %}">Edit</a></td>
            </tr>
            <tr>
                <td class="menu-label-cell">Content</td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_content_add' %}">Add</a></td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_content_list' %}">Edit</a></td>
            </tr>
            <tr>
                <td class="menu-label-cell">Indicators</td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_indicator_add' %}">Add</a></td>
                <td class="menu-link-cell"><a href="{% url 'textbook:syllabus_indicator_list' %}">Edit</a></td>
            </tr>
            </table>
        <h2>Subject Management</h2>
            <table class="list-view">
                <tr>
                    <td class="menu-label-cell">Subjects</td>
                    <td class="menu-link-cell"><a href="{% url 'textbook:subject_add' %}">Add</a></td>
                    <td class="menu-link-cell"><a href="{% url 'textbook:subject_list' %}">Edit</a></td>
                </tr>
            </table>
        <h2>School Management</h2>
            <table class="list-view">
            <tr>
                <td class="menu-label-cell">Schools</td>
                <td class="menu-link-cell"><a href="{% url 'textbook:school_add' %}">Add</a></td>
                <td class="menu-link-cell"><a href="{% url 'textbook:school_list' %}">Edit</a></td>
            </tr>
            <tr>
                <td class="menu-label-cell">Admin Accounts</td>
                <td class="menu-link-cell"><a href="{% url 'users:create_admin' %}">Add</a></td>
                <td class="menu-link-cell"><a href="">Edit</a></td>
            </tr>
            </table>
    {% endif %}
{% endblock %}
{% block javascript %}
{% endblock %}