{% extends "users/layout.html" %}
{% load static %}
{% block body %}
    {% if request.user.userprofile.user_type == 'teacher' %} 
        <h2>Lessons</h2>
            <ul>
                <li><a href="">Create Lesson</a></li>
                <li><a href="">Modify Lesson</a></li>
                <li><a href="">View Lesson</a></li>
            </ul>    
        <h2>Textbooks</h2>
        <ul>
            <li><a href="">Create Page</a></li>
            <li><a href="">Modify Page</a></li>
            <li><a href="">View Page</a></li>
        </ul>
        <h2>Quizzes</h2>
        <ul>
            <li><a href=""></a>Create Quiz</a></li>
            <li><a href=""></a>Modify Quiz</a></li>
            <li><a href="">View Quiz</a></li>
        </ul>
    {% endif %}
{% endblock %}
{% block javascript %}
{% endblock %}