html, body {
    width: 100%;
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif; 
}

h1, h2, h3, p, .question, .answer, .message, .list-view {
    margin: 20px;
}

.menu-label-cell {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.menu-link-cell {
    width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.question, .answer, .message{ 
    margin: 20px; 
    font-size: 20px; 
}

#revealBtn { 
    margin: 20px; 
    font-size: 16px; 
    cursor: pointer; 
}

.form-row {
    width: 400px;
    display: flex;
    margin-bottom: 10px; /* Space between rows */
}
.form-row label {
    flex-basis: 50%; /* Assigns 50% of the container's width to the label */
    padding-right: 10px; /* Space between the label and the select */
    text-align: right;
}
.form-row select {
    flex-basis: 50%; /* Assigns 50% of the container's width to the select */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ebebeb;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.logo img {
    height: 150px; /* Keep image aspect ratio */
    width: auto; /* You can set a max-width here if needed */
}
.user-info {
    display: flex;
    align-items: right;
}

.right-aligned-table {
    width: 100%;
    text-align: right;
}

.menu {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px 8px 0 0; 
    font-family: Arial, sans-serif; 
}

.menu li a:hover {
    background-color: #111;
}

.admin-menu li a, .teacher-menu li a, .student-menu li a {
    background-color: #4CAF50; 
}

.admin-menu li a:hover, .teacher-menu li a:hover, .student-menu li a:hover {
    background-color: #45a049;
}

.delete-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-button img {
    width: 12px;
    height: 12px;
}

.wrapper {
    display: flex;
    flex-direction: row; /* Explicitly set the flex direction */
    min-height: 100vh; /* Ensure the wrapper fills at least the viewport height */
}
.sidebar {
    width: 20%;
    background-color: #f0f0f0;
    overflow-y: auto; /* Adds scroll to the sidebar if content overflows */
}


.subjects a.subject-link {
    font-size: 14px;
    margin: 5px 5px 5px 20px;
    display: inline-block; /* Ensures margin applies all around, including top and bottom */
}

.learning-area a.learning-area-link {
    font-size: 14px;
    margin: 10px 0px 10px 10px;
    display: inline-block; /* Ensures margin applies all around */
}

.content {
    width: 80%;
    overflow-y: auto; /* Adds scroll to the content area if content overflows */
}

.hidden {
    display: none;
}

a {
    font-family: Arial, sans-serif;
    color: #007BFF; /* Bootstrap's default blue for links */
    text-decoration: none; /* Removes underline from links */
    transition: color 0.2s; /* Smooth transition for color change */
    margin: 10px;
}

a:hover,
a:focus {
    color: #0056b3; /* Darker blue on hover/focus for better visibility */
    text-decoration: underline; /* Adds underline on hover/focus */
}
